set -eu

if type goenv >/dev/null 2>&1; then
  goenv rehash
fi

export GOPATH=$PWD
export GOBIN=$GOPATH/bin
export PATH=$GOBIN:$PATH

cat <<-EOS

$(go version) ($(which go))

GOPATH: $GOPATH
 GOBIN: $GOBIN
  PATH: $PATH
EOS
